<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224761158428-71emo59cej5ek6pddov912iu119t9542.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224761158428-71emo59cej5ek6pddov912iu119t9542</string>
	<key>API_KEY</key>
	<string>AIzaSyDX_XogaBsihZ8UXAI-n8fRZODKoSsU5nk</string>
	<key>GCM_SENDER_ID</key>
	<string>224761158428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maryh4ara.walkie</string>
	<key>PROJECT_ID</key>
	<string>walkie-2</string>
	<key>STORAGE_BUCKET</key>
	<string>walkie-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224761158428:ios:cc7347f885ba941cba78d9</string>
</dict>
</plist>